.btn {
  background-image: linear-gradient(to right bottom, #FBDB89, #F48982);
  border-radius: 10rem;
  padding: 1.2rem 1.3rem;
  border: none;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: all .2s; 
  &:hover {
    transform: scale(1.05); 
  }
  &:focus {
    outline: none; }
  & > *:first-child {
    margin-right: 1rem; 
  }

  & svg {
    height: 2.25rem;
    width: 2.25rem;
    fill: currentColor;
  }
}

.invert {
  flex-direction: row-reverse;
  padding-left: 3rem;
}