.recipe__directions {
  padding: 4rem;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center; 
}
.recipe__directions-text {
  font-size: 1.5rem;
  text-align: center;
  width: 90%;
  margin-bottom: 3rem;
  color: #968B87; 
}
.recipe__by {
  font-weight: 700; 
}

.recipe__direction-link {
  text-decoration: none;
}