.recipe__love {
  background-image: linear-gradient(to right bottom, #FBDB89, #F48982);
  border-radius: 50%;
  border: none;
  cursor: pointer;
  height: 4.5rem;
  width: 4.5rem;
  margin-left: auto;
  transition: all .2s;
  display: flex;
  align-items: center;
  justify-content: center; 

  &:hover {
    transform: scale(1.07); 
  }
  &:focus {
    outline: none; 
  }
  & svg {
    height: 2.75rem;
    width: 2.75rem;
    fill: #fff; }
}
    