.search__field {
  border: none;
  background: none;
  font-family: inherit;
  color: inherit;
  font-size: 1.7rem;
  width: 30rem; 
  &:focus {
    outline: none; 
  }
  &::placeholder {
    color: #DAD0CC; 
  }
}