.likes__panel {
  position: absolute;
  right: 0;
  top: 10rem;
  z-index: 10;
  padding: 2rem 0;
  width: 34rem;
  background-color: #fff;
  box-shadow: 0 0.8rem 5rem 2rem rgba(101, 90, 86, 0.1);
  // visibility: hidden;
  opacity: 0;
  transition: all .5s .2s; 

  &:hover {
    visibility: visible;
    opacity: 1; 
  }
}

.likes__field:hover + .likes__panel {
  visibility: visible;
}

.likes__list {
  list-style: none; 
}