.btn-tiny {
  height: 1.75rem;
  width: 1.75rem;
  border: none;
  background: none;
  cursor: pointer; 

  & svg {
    height: 100%;
    width: 100%;
    fill: #F59A83;
    transition: all .3s; 
  }
  &:focus {
    outline: none; 
  }
  &:hover svg {
    fill: #F48982;
    transform: translateY(-1px); 
  }
  &:active svg {
    fill: #F48982;
    transform: translateY(0); 
  }
  &:not(:last-child) {
    margin-right: .3rem; 
  }
}